<!DOCTYPE html>
<html>
  <head>
    <title>Issue Tracker</title>
    <meta charset="UTF-8">
    <meta name="keywords"             
          content="valentin wissler website, valentin wissler, portfolio page, valentin wissler's portfolio">
    <meta name="description " 
          content="Valentin Wissler's portfolio page">
    <meta name="author" 
          content="Valentin Wissler">
    <meta name="viewport" 
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/qa/issue.css">
    <link rel="shortcut icon" href="/images/crash_ico.webp"  type="image/x-icon" />
  </head>
  <body>
    <%- include('../issue_tracker/partials/header.ejs') %> 
    <%- include('../issue_tracker/partials/errorMessage.ejs') %>
    <%- body %> 
  </body>
</html>