<!DOCTYPE html>
<html>
  <head>
    <title>Issue Tracker</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/qa/issue.css">
  </head>
  <body>
    <%- include('../issue_tracker/partials/header.ejs') %> 
    <%- include('../issue_tracker/partials/errorMessage.ejs') %>
    <%- body %> 
  </body>
</html>