html {
    font-size: 10px;
    background-image: url('/images/htmlandcss/ump_wall.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-family: 'Koolen', monospace;
}

main {
    height: 100vh;
    font-size: 1.5rem;
    text-align: center;
}

h1 {
    font-size: 4rem;
}

label {
    display: flex;
}

.div-form {
    background-color: rgba(27, 35, 93, 0.8);
    margin: 10px auto;
    padding: 20px 20px;
    width: 50%;
    border-radius: 12px;
}

.posession-div {
    margin-bottom: 10px;;
}

.form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.input-radio,
.input-checkbox,
.checkbox-label, 
.radio-label {
    display: inline-block;
    margin-right: 0.5rem;
}

.input-text {
    border: 2px solid;
    border-color: purple;
    border-radius: 0.5em;
}

.submit {
    font-size: 1.5rem;
    border-width: 0px;
    border-radius: 1rem;
    background-color: purple;
    color: #E0E0E0;
}

.submit:hover {
    background-color: blue;
}

.radio-div {
    display: flex;
    align-content: center;
}