html {
    font-size: 10px;
    font-family: 'Alegreya', serif;
}

body {
    margin: 0px 0px;
    padding: 0px 0px;
}

h1 {
    font-size: 9rem;
    margin: 0px 0px;
    text-align: center;
}

p {
    margin: 0px 0px;
}

footer {
    position: relative;
    width: 100%;
    height: calc(100vh - 9rem);
    border-top: solid 4px;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: maroon;
}

footer p {
    font-size: 2rem;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10vh;
    min-height: 10vh;
    background-color: red;
    color: white;
}

#navbar > ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

#navbar li {
    padding: 0px 25px;
    font-size: 5vh;
}

#navbar a {
    text-decoration: none;
    color: white;
}

#navbar a:hover {
    text-decoration: none;
    background-color: blue;
}

#welcome-section {
    background-image: url('/images/htmlandcss/scary_wall.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#welcome-section > p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: red;
}

#projects {
    height: 100vh;
    width: 99%;
    background-image: url('/images/htmlandcss/salutccool_wall.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.projects-tile {
    width: 100%;
    padding-top: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 2rem;
}

.projects-tile a {
    text-decoration: none;
}

.projects-tile a:hover {
    color: red;
}

#tile-sarko {
    border: 2px solid;
    background-color: blue;
}

#tile-sarko a{
    color: red;
}

#tile-sarko a:hover{
    color: white;
}

#tile-meluche {
    border: 2px solid;
    background-color: white;
}

#tile-lepen {
    border: 2px solid;
    background-color: red;
}

#tile-lepen a:hover{
    color: white;
}

#logoSarko {
    width: 250px;
    height: 250px;
}

#logoMeluche {
    width: 250px;
    height: 250px;
}

#logoMarine {
    width: 250px;
    height: 250px;
}

#Contact {
    height: 100vh;
    max-height: 100vh;
    background-color: #CFD8DC;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 20px
}

.contact-title {
    margin-top: 0px;
    text-align: center;
}

.contact-title > p {
    color: red;
    font-size: 2rem;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 4rem;
}

.link {
    display: inline-block;
    padding: 0px 10px;
    text-decoration: none;
    color: black;
}

.link:hover {
    background-color: grey;
}

@media (max-width: 750px) {
    #projects {
        height: 100vh;
        background-color: lime;
    }
    
    .projects-tile {
        width: 100%;
        height: 70vh;
        padding-top: 15vh;
        padding-bottom: 15vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    
    #logoSarko {
        width: 125px;
        height: 125px;
    }
    
    #logoMeluche {
        width: 125px;
        height: 125px;
    }
    
    #logoMarine {
        width: 125px;
        height: 125px;
    }
}