<div id="content-container">
<h1>Valentin Wissler Portfolio Website</h1>
<h3>What's this website for?</h3>
<p>
    I coded this website to showcase my skills (or lack of thereof) in web development, the website's code can be found <a href="https://github.com/ValentinJub">here</a>, <b>please, don't pawn me</b>.
</p>
<p>
    It is a full stack website, using Node.js, Express.js, MongoDB, EJS, HTML, CSS, JavaScript, jQuery, Bootstrap, and more.<br>
    It is hosted on [To be confirmed], and the multiple databases are hosted on MongoDB Cloud.
</p>
<p>
    It compiles all my projects and my resume, and it is also a blog, where I can post articles about my projects, or anything else I want to talk about.
</p>

<h2>Projects</h2>
<p>
    <ul>
        <li>The projects I worked on started from only HTML and CSS to more complex frontend projects that include bootstraps, jQuery, React and JavaScript.</li>
        <li>The next logical step was the backend, where I started with Node.js and Express.js, and then MongoDB.</li>
        <li>To further the backend knowledge I started learning about APIs, and how to use them, and I also started learning about the MERN stack, which is MongoDB, Express.js, React and Node.js.</li>
        <li>Testing is also a big part of the development process, and I started learning about it, and how to use Mocha and Chai to test my code.</li>
        <li>Security is tantamount and I started learning about it, and how to use Helmet.js to secure my websites.</li>
    </ul>
</p>
</div>