<style>
  #headnavbar {
    display: none;
  }
</style>
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
  <form action="/projects" method="GET">
    <button class="btn btn-light custom-btn-size-lg" type="submit">Enter</button>
  </form>
</div>