<div>
  <label>Go to a project page</label>
  <input type="text" id="projectName" name="project">
  <button id="gotobtn">Go</button>
</div>
<script src="/js/qa/issue_redirect.js" type="text/javascript" ></script>