<form id="testForm" class="border" method="post" action="/projects/qa/issue-tracker/api/issues/apitest">
  <input type="text" name="issue_title" placeholder="*Title" style="width: 100px" required=''><br>
  <textarea type="text" name="issue_text" placeholder="*Text" style="width: 100px" required=''></textarea><br>
  <input type="text" name="created_by" placeholder="*Created by" style="width: 100px" required=''><br>
  <input type="text" name="assigned_to" placeholder="(opt)Assigned to" style="width: 100px"><br>
  <input type="text" name="status_text" placeholder="(opt)Status text" style="width: 100px"><br>
  <button type="submit">Submit Issue</button>
</form><br>