<form id="testForm" class="border" method="post" action="/projects/qa/issue-tracker/api/issues/apitest">
  <input type="text" name="issue_title" placeholder="*Title" required=''><br>
  <textarea type="text" name="issue_text" placeholder="*Text" required=''></textarea><br>
  <input type="text" name="created_by" placeholder="*Created by" required=''><br>
  <input type="text" name="assigned_to" placeholder="(opt)Assigned to"><br>
  <input type="text" name="status_text" placeholder="(opt)Status text"><br>
  <button type="submit">Submit Issue</button>
</form><br>