<form id="testForm2" class="border" method="POST" action="/api/issues/apitest?_method=PUT">
  <input type="text" name="_id" placeholder="*_id" style="width: 100px" required=''><br>
  <input type="text" name="issue_title" placeholder="(opt)Title" style="width: 100px"><br>
  <textarea type="text" name="issue_text" placeholder="(opt)Text" style="width: 100px"></textarea><br>
  <input type="text" name="created_by" placeholder="(opt)Created by" style="width: 100px"><br>
  <input type="text" name="assigned_to" placeholder="(opt)Assigned to" style="width: 100px"><br>
  <input type="text" name="status_text" placeholder="(opt)Status text" style="width: 100px"><br>
  <label><input type="checkbox" name="open" value="false"> Check to close issue</label><br>
  <button type="submit">Submit Issue</button>
</form><br>