<header>
  <h1 id='threadTitle'></h1>
</header>
<br>

<div id='boardDisplay'></div>

<hr class="bighr">
<!-- Your web-app is https, so your scripts need to be too -->
<script src="https://code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
        crossorigin="anonymous"></script>
<script src="/js/is/message_board_thread.js" type="text/javascript" ></script>