<header>
  <h1 id='projectTitle'></h1>
</header>
<div class="centerElements" id='submitNewIssue'>
  <br>
  <h3>Submit a new issue:</h3>
  <form id="newIssue" method="post" action="projects/qa/issue-tracker/api/issues/<%= project %>">
    <input type="text" name="issue_title" id="biginput" placeholder="*Title" required=''><br>
    <textarea type="text" name="issue_text" id="bigtextarea" placeholder="*Text" required=''></textarea><br>
    <input type="text" name="created_by" placeholder="*Created by" required=''>
    <input type="text" name="assigned_to" placeholder="(opt)Assigned to">
    <input type="text" name="status_text" placeholder="(opt)Status text"><br>
    <button type="submit">Submit Issue</button>
  </form>
</div>
<%= project %>
<div class="centerElements" id='issueDisplay'></div>

<hr class="bighr">

<script src="https://code.jquery.com/jquery-2.2.1.min.js" 
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
        crossorigin="anonymous"></script>
<script src="/js/qa/issue_issue.js" type="text/javascript"></script>
